@import "mixin/clearfix";
@import "compass-mixins/compass";

.aio {
    margin-top: 40px;
    width: 100%;
    border: 1px solid #b8b8b8;
    padding: 10px 9px 10px 7px;
    background-image: none;
    height: 20px;
    line-height: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ui-autocomplete {
    padding: 0;
    list-style: none;
    li {
        padding: 2px 8px;
        &.ui-state-focus {
            border: 0;
            background: #f0f0f0;
        }
    }
}
