.wgt-proto-chain .proto-item{position:relative;margin-top:40px;width:300px;border:1px solid #000;background:#CCD5AA;cursor:pointer}
.wgt-proto-chain header{background:#879A4C}
.wgt-proto-chain h3{margin:0;padding:5px 10px;color:#fff}
.wgt-proto-chain .body{padding:10px}
.wgt-proto-chain .arrow{position:absolute}