<div class="wgt-proto-chain">
    <#list.forEach(function (v, k) {#>
    <div class="proto-item" data-index="<#=k#>">
        <header>
            <h3>
                <#if (k === 0) {#>
                    <#=v#>
                <#} else {#>
                    <#=(v && v.constructor.name) || v#>
                <#}#>
            </h3>
        </header>
        <div class="body">
            <p>类型：<#=type(v)#></p>
            <p>自身属性(可枚举)：<#=getOwnMember(v).length#></p>
            <p>自身属性(全部)：<#=getOwnAllMember(v).length#></p>
            <p>继承属性(可枚举)：<#=getMember(v).length#></p>
        </div>
        <#if (k < list.length - 1) {#>
            <div class="arrow">
                <svg width="300" height="40">
                    <line x1="150" y1="0" x2="150" y2="40" style="stroke:rgb(0,0,0);stroke-width:1"/>
                    <line x1="146" y1="34" x2="150" y2="40" style="stroke:rgb(0,0,0);stroke-width:1"/>
                    <line x1="154" y1="34" x2="150" y2="40" style="stroke:rgb(0,0,0);stroke-width:1"/>
                </svg>
            </div>
        <#}#>
    </div>
    <#})#>
</div>
