.wgt-proto-chain {
    .proto-item {
        position: relative;
        margin-top: 40px;
        width: 300px;
        border: 1px solid #000;
        background: #CCD5AA;
        cursor: pointer;
    }
    header {
        background: #879A4C;
    }
    h3 {
        margin: 0;
        padding: 5px 10px;
        color: #fff;
    }
    .body {
        padding: 10px;
    }
    .arrow {
        position: absolute;
    }
}
