<div class="wgt-about">
    <h3>关于</h3>
    <p>
        AllOrigin 展示每个值的继承树，原型链，支持任何值。在输入框输入有返回值的javascript表达式，或在常用列表选择感兴趣的查看。
        <br>
        如果你觉得做得还不错，快快点击右侧的分享吧。
    </p>
    <h3>反馈</h3>
    <p>
        如果你使用过程汇总发现任何问题，或者好的建议要反馈，那就快来提<a href="https://github.com/yanhaijing/allorigin/issues">ISSUE</a>吧
        <br>
        期待你的反馈哦o(∩_∩)o 哈哈
    </p>
    
    <div class="donate">
        <h3>捐助</h3>
        <figure>
            <img src="<#=alipay#>" alt="支付宝帐号：yanhaijing@yeah.net" width="256" height="256">
            <figcaption>帐号：yanhaijing@yeah.net</figcaption>
        </figure>
        <figure>
            <img src="<#=weixin#>" alt="微信支付二维码" width="256" height="256">
            <figcaption>微信扫一扫转账</figcaption>
        </figure>
    </div>


</div>
