<div class="wgt-detail">
    <header>
        <h2>
            <a href="https://developer.mozilla.org/en-US/search?q=<#=target.name#>"><#=target#></a>
            <span><#=type(target)#></span>
        </h2>
    </header>
    <div class="body">
        <#:=areaTpl({
            title: '自身属性(可枚举)',
            list: getOwnMember(target), 
            target: target, 
            type: type
        })#>
        <#:=areaTpl({
            title: '自身属性(全部)',
            list: getOwnAllMember(target), 
            target: target, 
            type: type
        })#>
        <#:=areaTpl({
            title: '继承属性(可枚举)',
            list: getMember(target), 
            target: target, 
            type: type
        })#>
    </div>
</div>
