<div class="wgt-detail">
    <header>
        <h2>
            <#=target#>
            <span><#=type(target)#></span>
        </h2>
    </header>
    <div class="body">
        <div class="area">
            <h3>自身属性(可枚举)</h3>
            <ul>
                <#getOwnMember(target).forEach(function (v) {#>
                    <li>
                        <#=v#>
                    </li>
                <#})#>
            </ul>
        </div>
        <div class="area">
            <h3>自身属性(全部)</h3>
            <ul>
                <#getOwnAllMember(target).forEach(function (v) {#>
                    <li>
                        <#=v#>
                    </li>
                <#})#>
            </ul>
        </div>
        <div class="area">
            <h3>继承属性(可枚举)</h3>
            <ul>
                <#getMember(target).forEach(function (v) {#>
                    <li>
                        <#=v#>
                    </li>
                <#})#>
            </ul>
        </div>
    </div>
</div>
