<div class="wgt-detail">
    <header>
        <h2>
            <#=console.log(target)#>
            <#=console.log(getName(target))#>
            <a href="https://developer.mozilla.org/en-US/search?q=<#=getName(target)#>"><#=getName(target)#></a>
            <span><#=type(target)#></span>
        </h2>
    </header>
    <div class="body">
        <#:=areaTpl({
            title: '自身属性(可枚举)',
            list: getOwnMember(target), 
            target: target, 
            getName: getName, 
            type: type
        })#>
        <#:=areaTpl({
            title: '自身属性(全部)',
            list: getOwnAllMember(target), 
            target: target, 
            getName: getName, 
            type: type
        })#>
        <#:=areaTpl({
            title: '全部属性(可枚举)',
            list: getMember(target), 
            target: target, 
            getName: getName, 
            type: type
        })#>
    </div>
</div>
